NUXT_PUBLIC_SITE_URL=https://frontierprojects.net
NUXT_PUBLIC_COMPANY_NAME=Frontier Projects
NUXT_PUBLIC_CONTACT_EMAIL=contact@frontierprojects.net
NUXT_PUBLIC_PHONE=+923359571564
NUXT_PUBLIC_API_URL=http://localhost:3001
